body {
    margin: 0;
    background-color: $color-darck-black;
}

h1 {
    color: #fff;
    margin-top: 100px;
}

/** ------ RESPONSIVE BREACK POINTS ----- **/
/** ------ extra small -----**/
html {
    font-size: 12px;
}

/** ------ small -----**/
@media only screen and (min-width: 576px) {
    html {
        font-size: 13px;
    }
}

/** ------ medium -----**/
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/** ------ large -----**/
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

/** ------ extra large -----**/
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}